# Pi Probe is a CMSIS-DAP probe
source [find interface/cmsis-dap.cfg]

# Optional but common: SWD transport
transport select swd

# RP2350 target (Pi Pico 2)
source [find target/rp2350.cfg]

adapter speed 5000